@charset "utf-8";

.abc {
    color: red;
}

h1.abc {
    color: red;
}

.abc div {
    color: blue;
}

.abc > p {
    color: green;
}

a:hover {
    color: red;
}

@media screen and (max-width: 768px) {
    .abc {
        color: blue;
    }
}

@media screen and (max-width: 768px) {
    .abc {
        color: blue;
    }
}

.box {
    padding: 10px;
    border: 1px solid #000;
    margin: 10px;
    
}
